
<div class="ui raised segment">
{{#each lists as |list|}}
  <section data-id="{{list._id}}">
    <span class="list-name">{{limit list.name 25}}</span><span class="list-quantity">{{list.quantity}}</span>
    <div>
    <span><i data-id="{{list._id}}" class="icon trash alternate outline delete-btn"></i><i data-id="{{list._id}}" class="icon edit outline update-btn-link"></i></span>
    </div>
    <hr>
  </section>
{{/each}}
</div>
